[submodule "server/PyNMRSTAR"]
	path = server/wsgi/submodules/PyNMRSTAR
	url = https://github.com/uwbmrb/PyNMRSTAR.git
[submodule "server/wsgi/submodules/fasta36"]
	path = server/wsgi/submodules/fasta36
	url = https://github.com/wrpearson/fasta36.git
