flask==2.0.1
psycopg2-binary==2.9.1
simplejson==3.17.3
python-json-logger==2.0.1
flask-cors==3.0.10
redis==3.5.3
gitpython==3.1.18
Flask-Mail==0.9.1
pynmrstar==3.2.1
pybmrb==3.0.4
requests==2.26.0
marshmallow==3.12.2
marshmallow_enum==1.5.1