wheel==0.40.0
flask==2.3.2
psycopg2-binary==2.9.6
simplejson==3.19.1
python-json-logger==2.0.4
flask-cors==5.0.0
redis==4.5.5
gitpython==3.1.43
Flask-Mail==0.9.1
pynmrstar==3.3.2
pybmrb==3.0.8
requests==2.32.3
marshmallow==3.19.0
marshmallow_enum==1.5.1
pybtex==0.24.0
# For iNext loading
pandas==2.2.3
xlrd==2.0.1
# For XML generation
lxml==4.9.2
