wheel
setuptools
flask==3.1.3
psycopg[binary]==3.3.3
psycopg_pool==3.3.0
simplejson==3.20.2
flask-cors==6.0.2
redis==7.4.0
gitpython==3.1.46
Flask-Mail==0.10.0
pynmrstar==3.5.0
pybmrb==3.0.9
requests>=2.32.3,<=3
marshmallow==4.2.4
pybtex==0.26.1
# For iNext loading
pandas==3.0.2
xlrd==2.0.2
# For XML generation
lxml==6.0.2
